.controlHint {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  max-width: 40vw;
  padding: 2vh 2vw;
  background: rgba(255, 255, 255, 0.03);
  color: aquamarine;
  font-size: 2vh;
  line-height: 3vh;
  border-radius: 2vh;
  border: 0.15vw solid #78b4ff33;
  box-shadow: 0 0 1.5vh rgba(100, 160, 255, 0.25);
  backdrop-filter: blur(3vh) saturate(200%) brightness(1.2);
  pointer-events: none;
  user-select: none;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;

  p {
    margin: 0;
  }
}