* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black; /* фон по умолчанию */
    color: white;
    overflow: hidden; /* убираем скролл */
    height: 100vh;
    width: 100vw;
}

canvas {
    display: block;
}
